.places {
    margin: 92px 148px 92px;
}

@media (max-width: 1165px) {
    .places {
        margin: 92px 48px 92px;
    }
}

@media (max-width: 768px) {
    .places {
        margin: 88px 24px 90px;
    }
}

@media (max-width: 767px) {
    .places {
        margin: 64px 16px 66px;
    }
}

@media (max-width: 320px) {
    .places {
        margin: 64px 0 66px;
    }
}