.places {
    display: grid;
    margin-top: 92px;
    margin-bottom: 92px;
    /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
    /* grid-template-rows: 1fr; */
    row-gap: 80px;
    /* column-gap: 40px; */
}