.lead {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin: auto;
    color: white;
    max-width: 984px;
    max-height: 1005px;
}

@media (max-width: 1024px) {
    .lead {
        max-width: 928px;
    }
}