.lead {
    margin: auto;
    color: white;
    max-width: 984px;
    max-height: 1005px;
}

@media (max-width: 1024px) {
    .lead {
        max-width: 928px;
        margin: 0 48px;
    }
}

@media (max-width: 768px) {
    .lead {
        margin: 0;
    }
}