.cover__card {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    z-index: 1;
    margin: auto;
    padding: 20%;
}

@media (max-width: 861px) {
    .cover__card {
        padding: 15%;
    }
}

@media (max-width: 320px) {
    .cover__card {
        padding: 33px 16px;
    }
}