.footer__copyright {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

@media (max-width: 665px) {
    .footer__copyright {
        line-height: 14px;
        /* margin-bottom: 24px; */
        padding-left: 16px;
    }
}