.lead__subtitle {
    margin: 0 auto 64px;
    max-width: 640px;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
}

@media (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
}