.cover__background {
    /* width: 1184px; */
    width: 100%;
    max-height: 740px;
    object-fit: cover;
    background: #2A2C2F;
    opacity: 0.8;
    /* z-index: 2; */
    /* position: relative; */
}

.cover__background:hover {}