.place {
    padding: 0;
    max-width: 984px;
    margin: 0 auto 80px;
    row-gap: 48px;
    list-style-type: none;
}

@media (max-width: 1024px) {
    .place {
        max-width: 928px;
    }
}

@media (max-width: 768px) {
    .place {
        max-width: 720px;
    }
}

@media (max-width: 320px) {
    .place {
        max-width: 320px;
        margin-bottom: 50px;
    }
}