    .lead__map {
        display: block;
        margin: auto;
        padding: 90px 0 0;
    }
    
    @media (max-width: 1024px) {
        .lead__map {
            max-width: 95%;
        }
    }
    
    @media (max-width: 320px) {
        .lead__map {
            padding-top: 29px;
        }
    }