.place__item {
    display: grid;
    grid-template-columns: repeat(2, minmax(320px, 1fr));
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-rows: repeat(2, minmax(1fr)); */
    row-gap: 48px;
}

@media (max-width: 425px) {
    .place__item {
        grid-template-columns: 1fr;
        margin: auto;
    }
}

@media (max-width: 375px) {
    .place__item {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 320px) {
    .place__item {
        grid-template-columns: 1fr;
        row-gap: 32px;
    }
}