.place__item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(76px, 1fr));
    row-gap: 48px;
    /* column-gap: 10px; */
}

@media (max-width: 425px) {
    .place__item {
        /* grid-template-columns: 1fr; */
        /* margin: auto; */
    }
}

@media (max-width: 375px) {
    .place__item {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 320px) {
    .place__item {
        grid-template-columns: 1fr;
        row-gap: 32px;
    }
}